h1 {
  font-size: 72px;
}

body {
  background-color: lightgrey;
  font-family: 'Rubik', sans-serif;
}
.card {
  margin-bottom: 16px;
}
.profile-btn {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
